@media all {
    header nav .translation::before,
    .translation .subhead::before,
    .translations .subhead::before,
    .translation .no-resources::before,
    .translations .no-resources::before,
    #translation .no-translations::before,
    .translation .no-resources::before {
        content:"\f1ab"; /* fas fa-language */
    }

    label[for="add-language-submit"] {
        display: none;
    }

    .action-details {
        cursor: pointer;
    }
    .action-details summary {
        display: list-item;
        cursor: pointer;
    }
    .action-details summary::marker {
        content: none;
    }
    .action-details summary::after {
        content: "⏵";
        font-weight: 900;
        margin-left: auto;
    }
    .action-details[open] summary::after {
        content: "▾";
    }
    .action-details[open] {
        z-index: 10;
        overflow: visible;
        cursor: auto;
        min-width: 230px;
        padding: 15px;
        border: 1px solid #DCD6CA;
        background: #EEE;
        background-color: #FFFFFF;
        box-shadow: 0 1px 3px 0 rgba(0,0,0,0.2);
    }
    .action-details.add-language {
        display: inline-block;
    }
}
