<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         bootstrap="./tests/bootstrap.php"
         colors="true"
         backupGlobals="false"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
    <coverage>
        <include>
            <directory suffix=".php">./src</directory>
        </include>
        <exclude>
            <directory suffix=".php">./src/Service</directory>
        </exclude>
    </coverage>
    <testsuites>
        <testsuite name="Internationalisation">
            <directory suffix="Test.php">./tests/InternationalisationTest</directory>
        </testsuite>
    </testsuites>
</phpunit>
